body{
    padding: 0;
    margin: 0;
    background-color: rgb(43, 245, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 10px;
    color: rgb(3, 221, 250);
    border-bottom: 2px solid rgb(3, 221, 250);
    transition-duration: 0.3s;
    &:hover{
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    height: 50vh;
    font-size: 25px;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 20px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    padding: 10px 10px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(43, 245, 235);
}
.text{
    margin-right: 30px;
}
.choice{
    margin-right: 15px;
}
.dropdown{
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 16px;
    width: 50%;
}
.btn{
    padding: 6px 10px;
    margin: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(43, 245, 235);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover{
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
}